<div class="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="addbook">
            <a class="page-link add-book" [routerLink]="['/admin/listrooms']">Back to room list</a>
        </div>
        <h1>Update</h1>

        <form autocomplete="off" [formGroup]="forma" (ngSubmit)="onSubmit()">
            <div>
                <div class="form-group row">
                    <div class="form-group border-red">
                        <label for="exampleFormControlSelect1">Availability</label>
                        <select class="form-control" formControlName="availability" id="exampleFormControlSelect1">
                    <option>false</option>
                    <option>true</option>
                  
                </select>
                    </div>


                    <div class="col">
                        <input class="form-control" type="hidden" formControlName="image1">
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">reference</label>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="reference" formControlName="reference" [class.is-invalid]="referenceNoValido">
                        <small *ngIf="referenceNoValido" class="text-danger">
                Write the phone number
                </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">title</label>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="title" formControlName="title" [class.is-invalid]="titleNoValido">
                        <small *ngIf="titleNoValido" class="text-danger">
          write the name
        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">description</label>
                    <div class="col">
                        <textarea class="form-control" rows="8" cols="80" placeholder="description" formControlName="description" [class.is-invalid]="descriptionNoValido">
               </textarea>
                        <small *ngIf="descriptionNoValido" class="text-danger">
          write the name
        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">available for couples</label>
                    <select class="form-control" formControlName="availablecouples" id="language">
                <option>yes</option>
                <option>no</option>             
            </select>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">roomtype</label>
                    <select class="form-control" formControlName="roomtype" id="language">
                <option>double</option>
                <option>single</option>             
            </select>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">length of stay</label>
                    <select class="form-control" formControlName="length" id="length">
                <option>4</option>
                <option>3 </option>    
                <option>6 </option>             
            </select>
            </div>
            <div class="form-group row">
                <label class="col-2 col-form-label">bills</label>
                <select class="form-control" formControlName="bills" id="language">
            <option>All included</option>
            <option>some included</option>    
                     
        </select>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">parking</label>
                    <select class="form-control" formControlName="parking" id="parking">
                <option>true</option>
                <option>false</option>    
                         
            </select>
                    </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">deposit</label>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="deposit" formControlName="deposit" [class.is-invalid]="depositNoValido">
                        <small *ngIf="depositNoValido" class="text-danger">
                Write the amount of deposit
                </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">mapgoogle</label>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="mapgoogle" formControlName="mapgoogle" [class.is-invalid]="mapgoogleNoValido">
                        <small *ngIf="mapgoogleNoValido" class="text-danger">
                Write the phone number
        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Availability from</label>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="availability from" formControlName="availabilityfrom">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">price</label>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="price" formControlName="price" [class.is-invalid]="priceNoValido">
                        <small *ngIf="priceNoValido" class="text-danger">
                Write the phone number
        </small>
                    </div>
                </div>
         
                <div class="form-group row">
                    <label class="col-2 col-form-label">location</label>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="location" formControlName="location" [class.is-invalid]="locationNoValido">
                        <small *ngIf="locationNoValido" class="text-danger">
                    Write the phone number
                    </small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="">Image 1</p>
                            <div class="" *ngIf="!imgURL;  else noimage">
                                <img class="img-list" src="{{ url + 'avatar/' + 'no-image.png'  }}" alt="">
                            </div>

                            <ng-template #noimage>
                                <img class="img-list" src="{{ url + 'avatar/' + imgURL }} ">
                            </ng-template>

                            <angular-file-uploader [config]="afuConfig" (ApiResponse)="upload1($event)">
                            </angular-file-uploader>
                            <a class="btn btn-primary add-book" (click)="deleteImage(this.room.image1)">Delete Image</a>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <p class="">Image 2</p>
                                <div class="" *ngIf="!imgURL2; else noimage2">
                                    <img class="img-list" src="{{ url + 'avatar/' + 'no-image.png'  }}" alt="">
                                </div>

                                <ng-template #noimage2>
                                    <img class="img-list" src="{{ url + 'avatar/' + imgURL2}}" alt="">
                                </ng-template>
                                <!-- <div class="" *ngIf="imgURL2; else noimage2">
                        <img class="img-list" src="{{ url + 'avatar/' + 'no-image.png'  }}" alt="">
                    </div>
                    <ng-template #noimage2>
                        <img class="img-list" src="{{ url + 'avatar/' + imgURL2 }}" alt=" ">
                    </ng-template>
                    <label class="col-2 col-form-label ">Imagen2</label>-->
                                <angular-file-uploader [config]="afuConfig2 " (ApiResponse)="upload1($event) ">
                                </angular-file-uploader>
                                <a class="btn btn-primary add-book" (click)="deleteImage(this.room.image2)">Delete Image</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <p class="">Image 3</p>
                            <div class="" *ngIf="!imgURL3; else noimage3">
                                <img class="img-list" src="{{ url + 'avatar/' + 'no-image.png'  }}" alt="">
                            </div>

                            <ng-template #noimage3>
                                <img class="img-list" src="{{ url + 'avatar/' + imgURL3 }}" alt="">
                            </ng-template>
                            <!-- <div class="" *ngIf="imgURL3; else noimage3">
                    <img class="img-list" src="{{ url + 'avatar/' + 'no-image.png'  }}" alt="">
                </div>
                <ng-template #noimage3>
                    <img class="img-list" src="{{ url + 'avatar/' + imgURL3 }}" alt="">
                </ng-template> -->

                            <angular-file-uploader [config]="afuConfig3" (ApiResponse)="upload1($event)">
                            </angular-file-uploader>
                            <a class="btn btn-primary add-book" (click)="deleteImage(this.room.image3)">Delete Image</a>
                        </div>
                        <div class="col-sm-6">
                            <p class="">Image 4</p>
                            <div class="" *ngIf="!imgURL4; else noimage4">
                                <img class="img-list" src="{{ url + 'avatar/' + 'no-image.png'  }}" alt="">
                            </div>
                            <ng-template #noimage4>
                                <img class="img-list" src="{{ url + 'avatar/' + imgURL4 }}" alt=" ">
                            </ng-template>

                            <angular-file-uploader [config]="afuConfig4" (ApiResponse)="upload1($event)">
                            </angular-file-uploader>
                            <a class="btn btn-primary add-book" (click)="deleteImage(this.room.image4)">Delete Image</a>
                        </div>
                        <div class="col-sm-6">
                            <p class="">Image 5</p>
                            <div class="" *ngIf="!imgURL5; else noimage5">
                                <img class="img-list" src="{{ url + 'avatar/' + 'no-image.png'  }}" alt="">
                            </div>
                            <ng-template #noimage5>
                                <img class="img-list" src="{{ url + 'avatar/' + imgURL5 }}" alt=" ">
                            </ng-template>

                            <angular-file-uploader [config]="afuConfig5" (ApiResponse)="upload1($event)">
                            </angular-file-uploader>
                            <a class="btn btn-primary add-book" (click)="deleteImage(this.room.image5)">Delete Image</a>
                        </div>
                    </div>
                </div>
            </div>





            <div class="form-group row ">
                <label class="col-2 col-form-label ">&nbsp;</label>
                <div class="input-group col ">
                    <button type="submit " class="btn btn-outline-primary btn-block ">
        Save
      </button>
                </div>
            </div>

        </form>

    </div>

    <hr>
    <pre>
  form state: {{ forma.valid }}
  <br>
  Status: {{ forma.status }}
</pre>

    <pre>