<div class="margin-carousel">
    <div class="row">
        <div class="col-sm-7">
            <h2> <a class="add-book" [routerLink]="['/home']">Back</a></h2>
            <h4>{{ room.title }}</h4>
            <ul class="ul-room">
                <li class="li-room">{{ room.location }} </li>
                <li class="li-room float-right">&#163; {{ room.price }} pm</li>
            </ul>

            <ngb-carousel>
                <ng-template ngbSlide>
                    <img class="carousel-img" src="{{ url + 'avatar/' + room.image1 }}" alt="student">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="carousel-img" src="{{ url + 'avatar/' + room.image2 }}" alt="student">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="carousel-img" src="{{ url + 'avatar/' + room.image3 }}" alt="student">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="carousel-img" src="{{ url + 'avatar/' + room.image4 }}" alt="student">

                </ng-template>
                <ng-template ngbSlide>
                    <img class="carousel-img" src="{{ url + 'avatar/' + room.image5 }}" alt="student">
                </ng-template>
            </ngb-carousel>

            <p class="margin-carousel"><span class="bold-data">Room type</span> {{ room.roomtype }}</p>
            <p class=""><span class="bold-data">Reference</span> {{ room.reference }}</p>
            <label class="bold-data" for="">Description</label>
            <p class="">{{ room.description }}</p>
        </div>
        <div class="col-sm-5">
            <h4 class="">Contact Student</h4>
            <p class="">07666666666</p>
            <p class="">info@student.com</p>
            <form autocomplete="off" [formGroup]="forma" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label class="col-2 col-form-label">Name</label>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="name" formControlName="name" [class.is-invalid]="nameNoValido">
                        <small *ngIf="nameNoValido" class="text-danger">
                      write the name
                    </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Message</label>
                    <div class="col">
                        <textarea class="form-control" rows="8" cols="80" placeholder="message" formControlName="message" [class.is-invalid]="messageNoValido">
                           </textarea>
                        <small *ngIf="messageNoValido" class="text-danger">
                      write the message
                    </small>
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="col-2 col-form-label">&nbsp;</label>
                    <div class="input-group col">
                        <button type="submit " class="btn btn-outline-primary btn-block">
                    Send
                  </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>