.size-carousel {
    width: 730px !important;
    height: 533px !important;
}

.carousel-item.active.carousel-img {
    display: inline;
    img {
        width: 530px !important;
        height: 333px!important;
    }
}

.img-list {
    width: 170px !important;
    height: 170px;
}

.title-room {
    color: #00b8ff;
}

.data-room {
    font-size: 14px;
}

.list-group-item p {
    padding: 0!important;
    margin: 3px;
}

.list-group-item {
    color: #000000;
}

.link-room {
    text-decoration: none !important;
}

.carousel-img {
    width: 730px !important;
    height: 533px!important;
}