<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">

                <li class="nav-devider"></li>
                <li class="nav-small-cap">FLEXI RENT HOME ADMINISTRATION </li>
                <li>
                    <a [routerLink]="['/admin/addroom']" class=""><i class="fa fa-plus" aria-hidden="true"></i>Add Room </a>
                </li>

                <li>
                    <a [routerLink]="['/admin/listrooms']" class=""><i class="fa fa-table" aria-hidden="true"></i>Rooms Online </a>
                </li>

                <li>
                    <a [routerLink]="['/admin/listroomsnot']" class=""><i class="fa fa-ban" aria-hidden="true"></i>Rooms Offline </a>
                </li>




            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->