<div class="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="container">




        </div>
        <div class="margin-carousel">

            <h2> <a class="add-book" [routerLink]="['/admin/listrooms']">Back</a></h2>
            <div class="row">
                <div class="col-sm-7">
                    <h4>{{ room.title }}</h4>
                    <ul class="ul-room">
                        <li class="li-room">{{ room.location }} </li>
                        <li class="li-room float-right">&#163; {{ room.price }} pm</li>
                    </ul>
                    <!-- Tabs navs -->
                    <ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="ex2-tab-1" (click)="showPictures();" data-mdb-toggle="tab" role="tab" aria-controls="ex2-tabs-1" aria-selected="true">
                                <i class="fa fa-picture-o" aria-hidden="true"></i> Pictures
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="ex2-tab-2" (click)="showMap();" data-mdb-toggle="tab" role="tab" aria-controls="ex2-tabs-2" aria-selected="false"><i class="fa fa-map-marker" aria-hidden="true"></i>
                        google Maps</a
                >
                </li>
            
            </ul>
            <!-- Tabs navs -->
            
            <!-- Tabs content -->
            <div class="tab-content size-carousel">
                <div
                class="tab-pane fade show active"
                [ngClass]="{'hiden': flag, 'active': !flag}"
                id="div1"
                *ngIf="div1"
                role="tabpanel"
                aria-labelledby="ex2-tab-1"
                >
                <ngb-carousel>
                    <ng-template ngbSlide>
                        <div class="" *ngIf="!room.image1; else noimage1">
                            <img class="img-list" src="{{ url + 'avatar/' + 'no-image.png'  }}" alt="">
                        </div>
                        <ng-template #noimage1>
                            <img class="carousel-img" src="{{ url + 'avatar/' + room.image1 }}" alt="student">
                        </ng-template>
                       

                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="" *ngIf="!room.image2; else noimage2">
                            <img class="img-list" src="{{ url + 'avatar/' + 'no-image.png'  }}" alt="">
                        </div>
                        <ng-template #noimage2>
                            <img class="carousel-img" src="{{ url + 'avatar/' + room.image2 }}" alt="student">
                        </ng-template>
                      

                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="" *ngIf="!room.image3; else noimage3">
                            <img class="img-list" src="{{ url + 'avatar/' + 'no-image.png'  }}" alt="">
                        </div>
                        <ng-template #noimage3>
                            <img class="carousel-img" src="{{ url + 'avatar/' + room.image3 }}" alt="student">
                        </ng-template>
                    

                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="" *ngIf="!room.image4; else noimage4">
                            <img class="img-list" src="{{ url + 'avatar/' + 'no-image.png'  }}" alt="">
                        </div>
                        <ng-template #noimage4>
                            <img class="carousel-img" src="{{ url + 'avatar/' + room.image4}}" alt="student">
                        </ng-template>
                  

                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="" *ngIf="!room.image5; else noimage5">
                            <img class="img-list" src="{{ url + 'avatar/' + 'no-image.png'  }}" alt="">
                        </div>
                        <ng-template #noimage5>
                            <img class="carousel-img" src="{{ url + 'avatar/' + room.image5 }}" alt="student">
                        </ng-template>
                      
                    </ng-template>
                       <!-- [ngClass]="{'active':flag, 'hidden':!flag}" -->
                </ngb-carousel>
                </div>
                <div
                class="tab-pane fade show embed-responsive embed-responsive-4by3"
             
                [ngClass]="{'hiden': !flag, 'active': flag}"
                *ngIf="div2"
                role="tabpanel"
                aria-labelledby="ex2-tab-1"
                id="div2"
                [innerHtml]="room.mapgoogle | safeHtml" 
                >
                
                {{room.mapgoogle}}
                </div>
            
            </div>
            

                    <p class="margin-carousel"><span class="bold-data">Room type</span> {{ room.roomtype }}</p>
                    <p class=""><span class="bold-data">Reference</span> {{ room.reference }}</p>
                    <label class="bold-data" for="">Description</label>
                    <p class="">{{ room.description }}</p>
        </div>
  
    </div>
</div>

</div>
</div>